body {
  font-family: Roboto, "Segoe UI", sans-serif;
}

ul {
  color: #e5e7eb;
  list-style-type: none;
}

.header,
.sectionOne {
  background-color: #1f2937;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.hero-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
