body {
  font-family: Roboto, "Segoe UI", sans-serif;
}

ul {
  color: #e5e7eb;
  font-size: 18px;
  list-style-type: none;
}

.header,
.sectionOne {
  background-color: #1f2937;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.hero-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero-subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.information-header {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.sectionThree {
  background-color: #e5e7eb;
}

.quote {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
}

.banner {
  background-color: #3882f6;
}
